* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f4f4f4;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
  font-size: 26px;
  font-weight: 700;
  color: #4b34ff;
}

.logo span {
  color: black;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

/* HERO SECTION */
.hero {
  height: 70vh;
  background: linear-gradient(135deg, #4b34ff, #7a5bff);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 20px;
}

.hero h1 {
  font-size: 45px;
  font-weight: 700;
}

.hero h1 span {
  color: #ffeb3b;
  font-weight: 800;
}

.hero p {
  margin-top: 10px;
  font-size: 18px;
}

.btn {
  margin-top: 20px;
  display: inline-block;
  background: #ffeb3b;
  padding: 12px 22px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

/* GENERAL SECTION STYLE */
.section {
  width: 90%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}

.section h2 {
  margin-bottom: 15px;
  color: #4b34ff;
}

.skills-list {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

/* PROJECT CARD */
.project-card {
  background: #f8f8f8;
  padding: 20px;
  margin: 15px 0;
  border-left: 5px solid #4b34ff;
  border-radius: 10px;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #4b34ff;
  color: white;
  margin-top: 40px;
}
